.DS_Store
*.xcuserstate
android/.gradle/
android/.idea/
android/build/
android/app/build/
android/local.properties
ios/Pods/
ios/build/
ios/DerivedData/
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/xcuserdata/
